body {
    background-color: rgb(12, 12, 12);
    
  }
  h1 {
    color: rgb(255, 238, 2);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90px;
    line-height: 50%;
    margin-top: 0%;
  }
  p {
    color: rgb(224, 224, 224);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 130%;
    font-size: 16px;
    padding-left: 5%;
    padding-right: 5%;
  }
  h2 {
    color: #fec803;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 40%;
    font-size: 190%;
  }
  h3 {
    color: #fec803;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 120%;
    font-size: 105%;
  }
  
  .but {
    box-shadow:inset 0px 39px 0px -24px #eb675e;
    background-color:#e4685d;
    border:1px solid #970404;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size: 110%;
    padding:7px 35px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
  }
  .but:hover {
    background-color:#eb675e;
  }
  .but:active {
    position:relative;
    top:1px;
  }  

  .butgroup {
    justify-content: center;
  }
